.heroes_container {
  width: 60%;
  margin: 30px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.character-mini-card:hover {
  transition: all 0.1s ease-in-out;
  transform: translateY(-10px);
  cursor: pointer;
}
