.tabs {
  display: flex;
  justify-content: space-evenly;
}

.tab {
  background-color: yellow;
  padding: 7px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 15px;
}

.tab-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid yellow;
  background-color: black;
  color: yellow;
}
