.search-container {
  width: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  position: relative;
}

.search-result-section {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
  z-index: 100;
}

.result-image {
  max-width: 100% !important;
  max-height: 100% !important;
}

.result {
  width: 200px;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.result:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.result h3 {
  margin: 0 auto;
  font-size: small;
}

.result img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.close-results {
  display: none;
}